apiVersion: apps/v1
kind: Deployment
metadata:
  name: fibonacci-deployment
spec:
  replicas: 2  
  selector:
    matchLabels:
      app: fibonacci
  template:
    metadata:
      labels:
        app: fibonacci
    spec:
      containers:
        - name: fibonacci
          image: salt1s/fibonacci:latest  
          ports:
            - containerPort: 8080  